@import url('https://fonts.googleapis.com/css2?family=Coolvetica&family=Sweet+Cucumber+Mocktail&family=papernotes&display=swap');

body {
    font-family: Coolvetica, Sweet Cucumber Mocktail, Papernotes;
    background-color: #36454F;
    color: white;
    text-align: center;
    padding-top: 50px;
    line-height: 1.2
}
