@import url('https://fonts.googleapis.com/css2?family=Coolvetica&display=swap');

body {
    font-family:Coolvetica;
    background-color: #36454F;
    color: white;
    text-align: center;
    padding-top: 50px;
    line-height: 1.2
}
   
